body{
  font-family: 'Barlow-black', sans-serif;
}
h2{
  font-family: 'Barlow-bold', sans-serif;
  font-size: 2.5rem;
}

h3{
  font-family: 'Barlow-bold', sans-serif;
}
/*class selector*/

.container-fluid{
  overflow: hidden;
  padding: 3% 15% 7%;
}
.img-col{
  position: relative;
}
/* download button */
.download-button{
  margin: 5% 3% 5% 0;
}
/* feature box */
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#F94892;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #E60965;
}

.press-logo{
  margin: 20px 20px 50px;
  width: 15%;
}

/* navigation bar */
.navbar{
  padding: 0 0 4rem;
}
.navbar-brand{
  font-size: 2rem;
    font-weight: bold;
}
.nav-item{
  font-size: 1.2rem;
  padding: 0 15px;
}
/* title image */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position:absolute;
  right: 30%;

}
/*ID selector*/
#features{
  padding: 7% 15%;
  background-color: #FBE5E5;
  position:relative;
    z-index:1;
}

#heading{
  font-family: 'Roboto-black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #F94892;
  text-align: center;
  padding-bottom: 3%;
}

/* testimonials section */
.carousel-item{
  padding: 7% 15%;
}
#testimonials{
  text-align: center;
  background-color: #F94892;
  color: #FBE5E5;
}
.testimonial-img{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#title{
  background-color: #E60965;
  color: #FBE5E5;
}

/* pricing section */
#pricing{
  padding: 5% 10%;
  text-align: center;
  background-color: #FBE5E5;
}

.pricing-col{
  padding: 2% 3%;
}
.card{
  background-color: #FBE5E5;
}

/* cta section */
#cta{
  text-align: center;
  padding: 7% 15%;
  background-color: #E60965;
  color: #FBE5E5;
}
.cta-heading{
  font-family: 'Barlow-black', sans-serif;
  font-size: 3rem;
}

/* footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #FBE5E5;
}

/* social icon */
.social-icon{
  margin: 20px 10px;
}


@media screen and (max-width: 1000px){
 #title{
   text-align: center;
 }

 .title-image{
   position: static;
   transform: rotate(0);
 }
}
